/backend/myvirutalenv/

#virtual env
backend/myvirtualenv/
# Env
.env
myvenv/
venv/

# Database
backend/db.sqlite3

backend/myvirutalenv/
backend/TextToQuestionBackend/__pychache_/

# Python
*.pyc
*~
__pycache__

# Env
.env

backend/TextToQuestionBackend/checkpoint-11000
frontend/texttoquestionfrontend/node_modules
frontend/texttoquestionfrontend/.pnp
.pnp.js
backend/TextToQuestionBackend/.DS_Store
